@model MetroBlooms.ViewModels.EventsViewModel

<div class="contentPage">
    <div class="contentPage-bg" style="background-image:url('@Model.HeaderImage.UrlWithConstraints(1400,480)')"></div>
    <div class="container">
        <div class="grid">
            <div class="grid-col grid-col_secondary">
                <div class="colNav">
                    <ul>
                        @foreach (var link in Model.SubLinks)
                        {
                            <li class="@(link.Active?"active":"")">
                                <a href="@link.Url" target="@(link.NewWindow?"_blank":"_self")">@link.Title</a>
                                @if (link.ChildLinks.Any())
                                {
                                    <div class="colNav-sub">
                                        <ul>
                                            @foreach (var subLink in link.ChildLinks)
                                            {
                                                <li class="@(subLink.Active ? "active" : "")"><a href="@subLink.Url" target="@(subLink.NewWindow ? "_blank" : "_self")">@subLink.Title</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }

                    </ul>
                </div>
            </div> <!-- /.grid-col -->

            <div class="grid-col grid-col_primary">
                
                <div class="content">
                    <h1 class="hdg hdg_1">Events</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                    <div class="events">
                        <ul>
                            @foreach (var evt in Model.Events)
                            {
                                <li class="js-toggleActive">
                                    <a href="#">@evt.Name</a>
                                    <div class="event-description">
                                        @Html.Raw(evt.Description)
                                        @evt.LocationString
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div> <!-- /.content -->

                
            </div> <!-- /.grid-col -->
        </div> <!-- /.grid -->
    </div> <!-- /.container -->
</div> <!-- /.section -->
