@using MetroBlooms.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    
    @Html.Action("Head", "Content")

    <body>
        <div class='site@(uQuery.GetCurrentNode().Name=="Home" ? " home" : String.Empty)'>
            @Html.Action("Header", "Content")
            <div class="siteMain" role="main">
                @RenderBody()
            </div> <!-- /.siteMain -->
            @Html.Action("Footer", "Content")
            @Html.Action("Foot", "Content")
            @if (Config.IsUmbracoUserLoggedIn && Request.QueryString["edit"]=="true")
            {
                Html.RenderPartial("_AlohaEditor");
            }
        </div> <!-- /.site --> 
    </body>
</html>

