@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Global.HeaderViewModel

@*@if (Model.UtilityLinks != null && Model.UtilityLinks.Items.Any())
{
    <nav>
        <ul>
            @foreach (var link in Model.UtilityLinks.Items)
            {
                <li>
                    <a href="@link.Url" target="@(link.NewWindow?"_blank":"_self")">@link.Title</a>
                </li>
            }
        </ul>
    </nav>
}


@if(Model.MainNavigation != null && Model.MainNavigation.Items.Any()){
<nav>
    <ul>
        @foreach(var link in Model.MainNavigation.Items){
        <li>
            <a href="@link.Url" target="@(link.NewWindow?"_blank":"_self")">@link.Title</a>
        </li>
        }
    </ul>
</nav>
}*@

<div class="siteHeader" role="masthead">
    <div class="container">
        <div class="headerInfo">
            <a class="signIn" href="#">Sign In</a>
            <ul class="navSecondary">
                <li><a href="#">Upcoming Events</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="headerLower">
            <a class="headerLogo" href="#"><img src="assets/images/logo.png" alt="Metro Blooms" /></a>
            <ul class="nav">
                <li><a href="#"><span class="navTag">Learn about</span> Raingardens</a></li>
                <li><a href="#"><span class="navTag">Learn about</span> Get Involved</a></li>
                <li><a href="#"><span class="navTag">Learn about</span> Nominate a Garden</a></li>
                <li><a href="#"><span class="navTag">Learn about</span> Evaluate your Garden</a></li>
            </ul>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.siteHeader -->