@using MetroBlooms.Extensions
@using MetroBlooms.Utilities
@using MetroBlooms.ViewModels.Generic;
@model MetroBlooms.ViewModels.Global.HeadViewModel

<head>

    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]>
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cleartype" content="on" />
    <![endif]-->
    <!-- Meta -->
    <title>@Model.PageTitle - @Config.SiteTitle</title>
    @if (Model.PageDescription.IsSet())
    {
        <meta name="description" content="@Model.PageDescription" />
    }
    @if (Model.PageAuthor.IsSet())
    {
        <meta name="author" content="@Model.PageAuthor" />
    }
    @if (Model.PageKeywords.IsSet())
    {
        <meta name="keywords" content="@Model.PageKeywords" />
    }

    <!-- SEO -->
    <meta property="og:title" content="@Model.PageTitle - @Config.SiteTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Util.HomeUrl()" />
    <meta property="og:image" content="@Url.Absolute("~/assets/images/logo.png")" />
    <meta property="og:site_name" content="@Config.SiteTitle" />
    <meta property="og:description" content="@Model.PageDescription" />

    <!-- ICONS -->
    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favicon.ico" />

    <!-- STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="/Assets/styles/screen.css" />
    <link rel="stylesheet" media="all and (min-width: 640px)" href="/Assets/styles/screen-medium.css" />
    <link rel="stylesheet" media="all and (min-width: 960px)" href="/Assets/styles/screen-large.css" />

    <!-- JAVASCRIPT -->
    <script data-main="/assets/scripts/bootstrap.js" src="/Assets/scripts/vendor/requirejs/require.min.js"></script>

</head>

