@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.CallToActionSection

<div class="section section_@Model.Alignment.ToLower() section_img@(Model.ImageSize) js-scrollSection">
    <div class="section-bg" @Html.Raw((Model.Image.Url.IsSet() ? "style='background-image: url(" + @Model.Image.Url + ");'" : ""))></div>
    <div class="container">
        @if (Model.Title.IsSet())
        {
            <h3 class="hdg hdg_arch @Html.EditableClass()" @Html.EditableData(Model.Title)>@Model.Title</h3>
        }
        @if (Model.Text.IsSet())
        {
            <div class="@Html.EditableClass()" @Html.EditableData(Model.Text)>
                @Html.Raw(Model.Text)
            </div>
        }
        @if (Model.CTA.Title.IsSet())
        {
            <a class="btn" href="@Model.CTA.Url" title="@Model.CTA.Title">@Model.CTA.Title</a>
        }
    </div> <!-- /.container -->
</div> <!-- /.section -->