@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.CallToActionSection

@if (Model.BackgroundColor.IsSet())
{
    String.Format("#{0}", Model.BackgroundColor);
}

<img src="@Model.BackgroundImage.Url" alt="@Model.BackgroundImage.Alt" />

@if (Model.Title.IsSet())
{
    <div class="@Html.EditableClass()" @Html.EditableData(Model.Title)>
        @Model.Title
    </div>
}

<div class="@Html.EditableClass()" @Html.EditableData(Model.Text)>
    @Html.Raw(Model.Text)
</div>

@Model.Alignment 

@if (Model.CTA != null)
{
    <a href="@Model.CTA.Url" title="@Model.CTA.Title">@Model.CTA.Title</a>
}