@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.ContentWithImageSection

<div class="@Html.EditableClass()" @Html.EditableData(Model.Text)>
    @Model.Text
</div>

<img src="@Model.Image.Url" alt="@Model.Image.Alt" />