@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.ContentWithImageSection

<div class="content">
    <div class="content-@Model.ImageSize.ToLower() content-@Model.ImageLocation.ToLower()">
        <img src="@Model.Image.Url" alt="@Model.Image.Alt" />
    </div>
    <div class="@Html.EditableClass()" @Html.EditableData(Model.Text)>
        @Model.Text
    </div>
</div>
