@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.QuoteSection

<div class="@Html.EditableClass()" @Html.EditableData(Model.Heading)>
    @Model.Heading
</div>

<div class="@Html.EditableClass()" @Html.EditableData(Model.Quote)>
    @Model.Quote
</div>

<div class="@Html.EditableClass()" @Html.EditableData(Model.Citation)>
    @Model.Citation
</div>