@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.RichTextSection

@if (Model.Heading.IsSet())
{
    <div class="@Html.EditableClass()" @Html.EditableData(Model.Heading)>
        @Model.Heading
    </div>
}

@if (Model.Text.IsSet())
{
    <div class="@Html.EditableClass()" @Html.EditableData(Model.Text)>
        @Model.Text
    </div>
}