@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.SplashContentWithImage

<img src="@Model.BackgroundImage.Url" alt="@Model.BackgroundImage.Alt" />

@if (Model.Title.IsSet())
{
    <div class="@Html.EditableClass()" @Html.EditableData(Model.Title)>
        @Html.Raw(Model.Title)
    </div>
}

@Model.Alignment

@if (Model.CTA1 != null)
{
    <a href="@Model.CTA1.Url" title="@Model.CTA1.Title">@Model.CTA1.Title</a>
}
@if (Model.CTA2 != null)
{
    <a href="@Model.CTA2.Url" title="@Model.CTA2.Title">@Model.CTA1.Title</a>
}