@using MetroBlooms.Extensions
@model MetroBlooms.ViewModels.Sections.SplashContentWithImageSection

<img src="@Model.BackgroundImage.Url" alt="@Model.BackgroundImage.Alt" />

@if (Model.Title.IsSet())
{
    <div class="@Html.EditableClass()" @Html.EditableData(Model.Title)>
        @Html.Raw(Model.Title)
    </div>
}

@Model.Alignment